@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<h2>Log In</h2>

<div class="text-danger" asp-validation-summary="ModelOnly"></div>

<form asp-action="Login" method="post">
    
    <div class="mb-3">
        <label asp-for="UserName" class="form-label"></label>
        <input asp-for="UserName" class="form-control" />
        <div><span asp-validation-for="UserName" class="text-danger"></span></div>
    </div>
    <div class="mb-3">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <div><span asp-validation-for="Password" class="text-danger"></span></div>
    </div>
   
    <button class="btn btn-primary" type="submit">Log In</button>
    <a asp-controller="Account" asp-action="Register">Register</a>
</form>
