@model IEnumerable<Attendee>
<h2>List of Attendees</h2>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                <a asp-action="List"
                   asp-route-sortBy="@ViewData["NameSortParam"]">
                AttendeeName   @* AttendeeNamee *@
                </a>
            </th>
            <th>
                 <a asp-action="List"
                   asp-route-sortBy="@ViewData["EmailSortParam"]">
                AttendeeEmail @* AttendeeEmail *@
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in Model)
        {
         <tr>
            <td>
                    @a.AttendeeName  @* Attendee Name *@
            </td>
            <td>
                    @a.AttendeeEmail   @* Attendee Email *@
            </td>
         </tr>
        }
    </tbody>

</table>

<div class="text-danger"><strong>Total Attendees:@Model.Count()</strong> </div> @*EventRegistrations*@